<Modal-dialog @translucentOverlay={{true}}>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>{{@title}}</h5>
      </div>
      <div class='modal-body'>
        <div class='mb-3'>
          <span class='modal-body'>{{yield}}</span>
        </div>
        <div class='modal-footer'>
          {{#if @modalInfoType}}
            <Shared::Button
              class='btn-primary'
              @label='Close'
              @onClick={{@onClose}}
            />
          {{else}}
            <Shared::Button
              class='btn-success'
              @label='Confirm'
              @onClick={{@onConfirm}}
            />
            <Shared::Button
              class='btn-danger'
              @label='Cancel'
              @onClick={{@onClose}}
            />
          {{/if}}
        </div>
      </div>
    </div>
  </div>

</Modal-dialog>