<span data-test-time>{{@stopwatch.numTicks}}</span>
s

<Shared::Button
  disabled={{@shouldBeAbleToStart}}
  @class='btn btn-success'
  @label='start'
  @onClick={{@start}}
  data-test-start-button
/>

<Shared::Button @label='pause' @onClick={{@stop}} data-test-pause-button />

<Shared::Button
  @class='btn btn-danger'
  @label='reset'
  @onClick={{@reset}}
  data-test-reset-button
/>