<span data-test-time>{{@stopwatch.numTicks}}</span>
s

<Shared::Button
  data-test-start-button
  disabled={{@shouldBeAbleToStart}}
  class='btn-success'
  @label='start'
  @onClick={{@start}}
/>

<Shared::Button
  data-test-pause-button
  class='btn-primary'
  @label='pause'
  @onClick={{@stop}}
/>

<Shared::Button
  data-test-reset-button
  class='btn-danger'
  @label='reset'
  @onClick={{@reset}}
/>