<Header>{{@model.username}} games history</Header>
<table data-test-history-table class='table table-sm'>
  <thead>
    <tr>
      <th class='text-center' scope='col'>
        <User::GameHistory::SortSwitcher
          data-test-sort-game
          @label='Game'
          @sortParam={{this.sortGame}}
          @onToggle={{this.onSortGame}}
        />
      </th>
      <th class='text-center' scope='col'><User::GameHistory::SortSwitcher
          data-test-sort-points
          @label='Points'
          @sortParam={{this.sortPoints}}
          @onToggle={{this.onSortPoints}}
        /></th>
      <th class='text-center' scope='col'><User::GameHistory::SortSwitcher
          data-test-sort-date
          @label='Date'
          @sortParam={{this.sortDate}}
          @onToggle={{this.onSortDate}}
        /></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.sortedGameHistory as |game index|}}
      <tr data-test-history-row={{index}}>
        <td class='text-center'>{{game.gameName}}</td>
        <td class='text-center'>{{game.points}}</td>
        <td class='text-center'>
          {{format-date game.date 'dd-MM-yyyy HH:mm'}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>