<div class='grid'>
  {{#each @squares as |square index|}}
    {{#if square.isShow}}
      <img
        class='square user-select-none'
        draggable='false'
        id={{square.id}}
        role='button'
        src='/assets/images/mole.jpg'
        alt='square'
        {{on 'click' @onCatch}}
        data-test-moleSquare
      />
    {{else}}
      <img
        class='square user-select-none pe-none'
        draggable='false'
        id={{square.id}}
        src='/assets/images/white.png'
        alt='square'
        data-test-whiteSquare={{index}}
      />
    {{/if}}
  {{/each}}
</div>