<TicTacToe::Game::Interface
  @winner={{this.winner}}
  @gameMode={{this.gameMode}}
  @shouldBeDisabled={{this.shouldBeDisabled}}
  @onStart={{this.onStart}}
  @onReset={{this.onReset}}
  @onChangeGameMode={{this.onChangeGameMode}}
/>

<TicTacToe::Game::GridDisplay
  @blocks={{this.blocks}}
  @isStarted={{this.isStarted}}
  @onClick={{this.onClick}}
/>

{{#if this.isShowSharedModal}}
  <Shared::Modal
    @title='Who won this time?'
    @onClose={{this.onHideModal}}
    @modalInfoType={{true}}
  >
    <span data-test-winner-display>Winner Is:
      {{this.winner}}</span>
  </Shared::Modal>
{{/if}}