<div id='grid' class='mx-auto'>
  {{#each @shuffledCards as |card index|}}
    {{#if @isStarted}}
      <img
        role='button'
        draggable='false'
        src='/assets/images/blank.png'
        data-id={{card.cardId}}
        alt={{card.name}}
        {{on 'click' @flipCard}}
        data-test-card={{index}}
      />
    {{else}}
      <img
        src='/assets/images/blank.png'
        draggable='false'
        alt={{card.name}}
        data-test-card-notStarted={{index}}
      />
    {{/if}}
  {{/each}}
</div>