<div id='grid' class='mx-auto'>
  {{#each @shuffledCards as |card|}}
    {{#if @isStarted}}
      <img
        role='button'
        data-id={{card.cardId}}
        src='/assets/images/blank.png'
        alt={{card.name}}
        {{on 'click' @flipCard}}
      />
    {{else}}
      <img src='/assets/images/blank.png' alt={{card.name}} />
    {{/if}}
  {{/each}}
</div>