<div class='text-center'>
  <Memory::Game::Time
    @stopwatch={{this.stopwatch}}
    @start={{this.start}}
    @stop={{this.stop}}
    @reset={{this.reset}}
    @shouldBeAbleToStart={{this.shouldBeAbleToStart}}
  />
  <Memory::Game::Result @result={{this.result}} />
</div>

<Memory::Game::CardsDisplay
  @shuffledCards={{this.shuffledCards}}
  @isStarted={{this.isStarted}}
  @flipCard={{this.flipCard}}
/>

{{#if this.isShowSharedModal}}
  <Shared::Modal
    @title='Your final score'
    @onClose={{this.onHideModal}}
    @modalInfoType={{true}}
  >
    <span data-test-score>Congratulations! Your final score is:
      {{this.score}}</span>

  </Shared::Modal>
{{/if}}