<div class='text-center'>
  <Memory::Game::Time
    @stopwatch={{this.stopwatch}}
    @start={{this.start}}
    @stop={{this.stop}}
    @reset={{this.reset}}
  />
  <Memory::Game::Result @result={{this.result}} />
</div>

<Memory::Game::CardsDisplay
  @shuffledCards={{this.shuffledCards}}
  @isStarted={{this.isStarted}}
  @flipCard={{this.flipCard}}
/>

{{this.score}}