<form {{on 'submit' this.onSave}}>

  <div class='mb-3 row'>
    <AvatarChooser @onChange={{(fn this.onPropertyChange 'avatarURL')}} />
  </div>

  <div class='mb-3 row'>
    <label for='username' class='col-sm-2 col-form-label'>Username</label>
    <div class='col-sm-10'>
      <input
        data-test-input-username
        id='username'
        type='text'
        class='form-control'
        value={{this.userChangeset.username}}
        {{on 'input' (fn this.onPropertyChange 'username')}}
      />
      <div class='validation-container'>
        {{#if this.userChangeset.error.username}}
          <span class='validation-err'>
            {{this.userChangeset.error.username.validation}}
          </span>
        {{/if}}
      </div>
    </div>
  </div>
  <div class='mb-3 row'>
    <label for='email' class='col-sm-2 col-form-label'>Email</label>
    <div class='col-sm-10'>
      <input
        data-test-input-email
        id='email'
        type='text'
        class='form-control'
        value={{this.userChangeset.email}}
        {{on 'input' (fn this.onPropertyChange 'email')}}
      />
      <div class='validation-container'>
        {{#if this.userChangeset.error.email}}
          <span class='validation-err'>
            {{this.userChangeset.error.email.validation}}
          </span>
        {{/if}}
      </div>
    </div>
  </div>

  <div class='mb-3 row'>
    <label for='photoURL' class='col-sm-2 col-form-label'>Photo URL</label>
    <div class='col-sm-10'>
      <input
        data-test-input-photoURL
        id='photoURL'
        type='text'
        class='form-control'
        value={{this.userChangeset.photoURL}}
        {{on 'input' (fn this.onPropertyChange 'photoURL')}}
      />
      <div class='validation-container'>
        {{#if this.userChangeset.error.photoURL}}
          <span class='validation-err'>
            {{this.userChangeset.error.photoURL.validation}}
          </span>
        {{/if}}
      </div>
    </div>
  </div>
  <div class='mb-3 row'>
    <label for='inputPassword' class='col-sm-2 col-form-label'>Password</label>
    <div class='col-sm-10'>
      <input
        data-test-input-password
        id='inputPassword'
        type='password'
        class='form-control'
        value={{this.userChangeset.password}}
        {{on 'input' (fn this.onPropertyChange 'password')}}
      />
      <div class='validation-container'>
        {{#if this.userChangeset.error.password}}
          <span class='validation-err'>
            {{this.userChangeset.error.password.validation}}
          </span>
        {{/if}}
      </div>
    </div>
  </div>
  <div class='mb-3 row'>
    <div class='d-flex'>
      <Shared::Button
        data-test-save-button
        class='w-50 ms-1 btn-success'
        disabled={{this.shouldDisabledSaveButton}}
        @label='Save'
        @type='submit'
      />

      <Shared::Button
        data-test-cancel-button
        class='w-50 ms-1 btn-danger'
        disabled={{this.shouldDisabledCancelButton}}
        @label='Cancel'
        @onClick={{this.rollback}}
      />
    </div>
  </div>
</form>

{{#if this.isShowSharedModal}}
  <Shared::Modal
    data-test-modal
    @title='Confirm change'
    @modalInfoType={{false}}
    @onClose={{this.onHideModal}}
    @onConfirm={{this.onConfirm}}
  >
    <h4 class='mb-2 text-center'>Changes preview:</h4>
    <User::Details @user={{this.userChangeset}} />
  </Shared::Modal>
{{/if}}