{{page-title 'Settings'}}
<Header>Settings</Header>

<div class='container'>
  <div class='col-6 d-inline-block'>
    <User::Details @user={{this.model}} />
  </div>

  <div class='col-6 d-inline-block'>
    <div class='mb-3 row'>
      <AvatarChooser @onChange={{this.onAvatarChange}} />
    </div>
    <EditUser
      @onSave={{this.onSave}}
      @onLoginChange={{this.onLoginChange}}
      @onEmailChange={{this.onEmailChange}}
      @onPasswordChange={{this.onPasswordChange}}
      @onPhotoURLChange={{this.onPhotoURLChange}}
    />
  </div>
</div>