<div class='card d-inline-block w-75 max-w-500 mb-5'>
  <div class='card-header'>
    {{@title}}
  </div>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item text-center'>
      <img class='avatar' src={{@topPlay.player.avatarURL}} alt='user avatar' />
      {{@topPlay.player.username}}
    </li>
    <li class='list-group-item text-center'>Points: {{@topPlay.points}}</li>
    <li class='list-group-item text-center'>
      Set on:{{format-date @topPlay.date 'dd-mm-yyyy'}}
    </li>
  </ul>
</div>