<table class='table table-striped'>
  <thead>
    <tr>
      <th class='text-center' scope='col'>Id</th>
      <th class='text-center' scope='col'>Username</th>
      <th class='text-center' scope='col'>Email</th>
      <th class='text-center' scope='col'>
        <Users::List::SortSwitcher
          @label='Memory top score'
          @sortParam={{@sortMemory}}
          @onToggle={{@onSortToggleMemory}}
        />
      </th>

      <th class='text-center' scope='col'>
        <Users::List::SortSwitcher
          @label='Whac
          a Mole top score'
          @sortParam={{@sortWhacamole}}
          @onToggle={{@onSortToggleWhac}}
        />
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each @users as |user|}}
      <tr>
        <td class='text-center'>{{user.id}}</td>
        <td class='text-center'><LinkTo
            @route='home.user.show'
            @model={{user}}
          ><img
              class='avatar'
              src={{user.avatarURL}}
              alt='user avatar'
            />{{user.username}}</LinkTo></td>
        <td class='text-center'>{{user.email}}</td>
        <td class='text-center'>{{user.memoryTopScore}}</td>
        <td class='text-center'>{{user.whacamoleTopScore}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>