<label data-test-avatarChooser for='avatar' class='col-form-label mx-auto'>Chose
  Your avatar:</label>
<div id='avatar' class='scrollmenu my-3'>
  {{#each this.avatarNames as |avatar index|}}
    <input
      data-test-avatar={{index}}
      id={{avatar}}
      type='image'
      src={{concat '/assets/images/icons/' avatar '.png'}}
      value={{concat '/assets/images/icons/' avatar '.png'}}
      alt={{avatar}}
      {{on 'click' @onChange}}
    />
  {{/each}}
</div>