<label for='avatar' class='col-form-label mx-auto'>Chose Your avatar:</label>
<div id='avatar' class='scrollmenu my-3'>
  {{#each this.avatarNames as |avatar|}}
    <input
      id={{avatar}}
      type='image'
      src={{concat '/assets/images/icons/' avatar '.png'}}
      value={{concat '/assets/images/icons/' avatar '.png'}}
      alt={{avatar}}
      {{on 'click' @onChange}}
    />
  {{/each}}
</div>